.header-font-family {
  font-family: Arial, Helvetica, sans-serif; }

.header-container {
  display: flex;
  align-content: space-between;
  height: 2.3rem;
  justify-content: center;
  background-color: #3B5998;
  text-shadow: 2px 2px 4px #000000;
  align-items: center; }
  .header-container h1 {
    display: flex;
    font-weight: bolder;
    width: 85%;
    height: inherit;
    color: white;
    padding-left: 1rem; }
  .header-container ul {
    display: flex;
    width: 15%;
    height: inherit;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: center; }
  .header-container li {
    width: 5em;
    display: inline-block;
    list-style: none;
    font-weight: lighter; }
  .header-container a {
    padding: 5px;
    display: block;
    color: white;
    text-decoration: none; }
